.popularCarHome__handler{
    margin: 60px 0;
}
.carHome__search{
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    align-items: center;
    box-shadow: 0px 6px 12px 0px #135EAC1F;
    border-radius: 12px;
    padding: 8px;
}
.carHome__search img{
    width: 32px;
    height: 32px;
}
.carHome__search input{
    border: 0;
}
.carHome__search button{
    padding: 6px 25px !important;
}
.btnViewAll{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btnViewAll button{
    text-transform: capitalize;
    border: 1px solid #E0E0E0;
    background: transparent;
    border-radius: 8px;
    padding: 12px 20px;
    text-align: center;
    transition: all ease-in-out .3s;
}
.btnViewAll button:hover{
background: #000;
color: #fff;
}